@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
    font-family: Poppins;
}
img {
    align-items: center;
    width: 500px;
    height: 370px;
    border-radius: 20px;
}
.img-gato {
    text-align: center;
}
h1 {
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
}
p {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}
